@page
@model MarketingBlogApp.Pages.Admin.Users.IndexModel
@{
    Layout = "/Pages/Shared/_Admin.cshtml";
}

<h1>Manage Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@(user.IsDisabled ? $"<del>{user.FirstName}</del>" : user.FirstName)</td>
                <td>@(user.IsDisabled ? $"<del>{user.LastName}</del>" : user.LastName)</td>
                <td>@(user.IsDisabled ? $"<del>{user.Email}</del>" : user.Email)</td>
                <td>@(user.IsDisabled ? $"<del>{user.UserName}</del>" : user.UserName)</td>
                <td>@string.Join(", ", Model.UserRoles[user.Id])</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@user.Id">Edit</a>
                    @if (!Model.UserRoles[user.Id].Contains("Admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@user.Id">Delete</a>
                        @if (!user.IsDisabled)
                        {
                            <a asp-page="./Disable" asp-route-id="@user.Id">Disable</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
